node_modules
.next
yarn-error.log
dist
.env
.data

packages/api/public/**/*.png
packages/api/public/**/*.svg
packages/api/public/**/*.jpg
packages/api/public/**/*.jpeg
packages/api/public/**/*.gif

.eslintcache

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.vscode/settings.json
tsconfig.tsbuildinfo

packages/client/public/favicon.png
packages/client/public/sounds/*.mp3

.husky/_
.turbo
packages/**/coverage

test.mjs

# Sentry
.sentryclirc
