node_modules
.next
yarn-error.log
dist
.env


# uploaded images
apps/api/public/**/*.png
apps/api/public/**/*.svg
apps/api/public/**/*.jpg
apps/api/public/**/*.jpeg
apps/api/public/**/*.gif
apps/api/public/**/*.webp

# custom sounds & custom favicon
apps/client/public/favicon.png
apps/client/public/sounds/*.mp3

# eslint
.eslintcache

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# typescript
.vscode/settings.json
tsconfig.tsbuildinfo

# misc
.husky/_
.turbo
apps/**/coverage
packages/**/coverage
test.mjs
.data
.dev-data

# Sentry
.sentryclirc
