@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Assistant", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#__next {
  @apply min-h-screen dark:bg-dark-bg;
}

p,
li {
  @apply text-lg;
}

table {
  @apply w-full max-w-full overflow-auto;
}

th {
  @apply p-2 px-3 font-semibold bg-gray-200 dark:bg-gray-3 lg:table-cell text-left select-none;

  &:first-child {
    @apply rounded-tl-md rounded-bl-md;
  }
  &:last-child {
    @apply rounded-tr-md rounded-br-md;
  }
}

tr {
  @apply table-row text-left;
}

td {
  @apply p-2 px-3;
}

.bleet-reset {
  h1 {
    @apply font-semibold text-3xl mb-2;
  }
  h2 {
    @apply font-semibold text-2xl mb-2;
  }
  h3 {
    @apply font-semibold text-xl mb-1;
  }
  h4 {
    @apply text-lg;
  }
}

.modal-buttons-grid {
  @apply grid gap-1;
  grid-template-columns: repeat(auto-fill, minmax(min(13rem, 100%), 1fr));
}

.status-buttons-grid {
  @apply flex gap-1 flex-grow flex-wrap;
}
