name: Cancel

on:
  push:
    branches-ignore: 
      - "main"
  pull_request:
    types: [opened, synchronize]

jobs:
  cancel:
    name: "Cancel Previous Actions"
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - uses: styfle/cancel-workflow-action@0.9.1
        with:
          workflow_id: 14362582, 15222665, 14026219
          access_token: ${{ github.token }}
