name: Create Linear Issue

on:
  issues:
    types: [opened]

jobs:
  auto-assign:
    runs-on: ubuntu-latest
    steps:
      - name: Create Linear Issue
        uses: Dev-CasperTheGhost/create-linear-issue@1.2.0
        with:
          linear-api-token: ${{ secrets.LINEAR_API_TOKEN }}
          team-id: ${{ secrets.TEAM_ID }}
          state-id: ${{ secrets.STATE_ID }}
