name: Typecheck & test builds in workspaces/*

on:
  push:
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    name: Build & Typecheck
    runs-on: ${{ matrix.os }}
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        node-version: [16.x, 18.x]

    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          cache: yarn
          cache-dependency-path: yarn.lock
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: yarn

      - name: Run turbo build
        run: yarn turbo run build

      - name: Run turbo typecheck
        run: yarn turbo run typecheck

      - name: Run turbo test
        run: yarn turbo run test --parallel
